<div class="container">

  <section class="contact-section">
    <div class="image">
      <img src="/assets/stock-7.jpeg" alt="Contact Image">
    </div>
    <div class="contact-form">
      @if (messageSent) {
        <div class="confirmation">
          <img src="/check.png" alt="Checkmark">
          <div class="confirmation-title">GOT YOUR MESSAGE!</div>
          <span>I'll get back to you shortly.</span>
        </div>
      } @else {
        <div class="contact-form-title">
          Contact Us
        </div>
        <p>
          If you have any questions or need further information, feel free to contact us.
        </p>
        <form [formGroup]="contactForm" #formRef="ngForm" [class.disabled]="sending" (ngSubmit)="sendMessage()">
          <div class="form-group">
            <label for="name">Name*</label>
            <input type="text" formControlName="name">
          </div>
          <div class="form-group">
            <label for="email">Email*</label>
            <input type="email" formControlName="email">
          </div>
          <!-- <div class="form-group">
            <label for="phone">Phone*</label>
            <input type="tel" formControlName="phone" placeholder="(xxx) xxx-xxxx" phoneNumber minlength="10">
          </div> -->
          <div class="form-group">
            <label for="subject">Subject*</label>
            <input type="text" formControlName="subject">
          </div>
          <div class="form-group">
            <label for="message">Message*</label>
            <textarea formControlName="message" rows="7"></textarea>
          </div>
          <button type="submit" [class.disabled]="contactForm.invalid || sending" [disabled]="contactForm.invalid || sending">
            Send Message
          </button>
        </form>
        @if (sending) {
          <mat-spinner color="primary"></mat-spinner>
        }
      }
    </div>
  </section>

</div>