<header>
  <nav>
    TESTING
    <div class="nav-links">
      <div class="nav-link" [class.active]="sharedService.grabRoute() == '/'" routerLink="/">Home</div>
      <div class="nav-link" [class.active]="sharedService.grabRoute() == '/about'" routerLink="/about">About</div>
      <div class="nav-link" [class.active]="sharedService.grabRoute() == '/contact'" routerLink="/contact">Contact</div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="footer-container">
      <div class="footer-column logo-column">
          <img src="assets/rocket.png" alt="Your Logo" class="footer-logo">
      </div>
      <div class="footer-column">
          <h4>Column 2</h4>
          <ul>
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
          </ul>
      </div>
      <div class="footer-column">
          <h4>Column 3</h4>
          <ul>
              <li><a href="#">Link 4</a></li>
              <li><a href="#">Link 5</a></li>
              <li><a href="#">Link 6</a></li>
          </ul>
      </div>
  </div>
</footer>