<header>
  <nav class="navbar">
    <div class="logo">
      YOUR LOGO HERE
    </div>
    <div class="nav-links">
      <div class="nav-link"
        routerLink="/"
        [class.active]="sharedService.grabRoute() == '/'">
        Home
      </div>
      <div class="nav-link"
        routerLink="/about"
        [class.active]="sharedService.grabRoute() === '/about'">
        About
      </div>
      <div class="nav-link"
        routerLink="/contact"
        [class.active]="sharedService.grabRoute() === '/contact'">
        Contact
      </div>
    </div>
    @if (!sharedService.mobileNavOpen) {
      <mat-icon fontIcon="dehaze" (click)="openNav()"></mat-icon>
    } @else {
      <mat-icon fontIcon="close" (click)="openNav()"></mat-icon>
    }
    @if (sharedService.mobileNavOpen) {
      <div class="mobile-nav-links">
        <div class="nav-link" routerLink="/" (click)="sharedService.mobileNavOpen = false">Home</div>
        <div class="nav-link" routerLink="/about" (click)="sharedService.mobileNavOpen = false">About</div>
        <div class="nav-link" routerLink="/contact" (click)="sharedService.mobileNavOpen = false">Contact</div>
      </div>
    }
  </nav>
</header>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="footer-info">
    <span>© 2024 Company Name</span>
    <div>Designed By <span style="color:#61adff"><a href="https://www.chubbydesigns.com/" target="_blank">Chubby Designs</a></span>.</div>
  </div>
</footer>