<div class="container">

  <section class="cta">
    <!--[controls]="true"-->
    <video [muted]="'muted'" autoplay loop playsInline>
      <source src="assets/videos/junk-yard.mp4" type="video/mp4"/>
    </video>
    <div class="cta-overlay"></div>
    <div class="cta-title">
      <h1>H1 Here</h1>
      <h2 class="cta-subtitle">
        H2 Here
      </h2>
      <button routerLink="/">CTA Button</button>
    </div>
  </section>

  <section class="landing-swiper">
    <div class="landing-swiper-fixed-text">
      Swiper Text That Stays On All
    </div>
    <swiper-container autoplay="true" autoplay-delay="2700" effect="coverflow" pagination="true" navigation="true" autoplay-disable-on-interaction="true" duration>
      <swiper-slide>
        <!-- <div class="slider-titles">
          <div class="slide-title">
            Swiper Text That Stays On Specific
          </div>
          <div class="slide-subtitle">
            Swiper Text That Stays On Specific
          </div>
        </div> -->
      </swiper-slide>
      <swiper-slide></swiper-slide>
      <swiper-slide></swiper-slide>
      <swiper-slide></swiper-slide>
    </swiper-container>
  </section>

  <section class="info-image-block" data-aos="fade-in" data-aos-duration="1000" data-aos-once="true">
    <div class="info-image-block__image">
      <img src="/assets/stock-7.jpeg" alt="Image Alt">
    </div>
    <div class="info-image-block__text">
      <h3>Lorum Ipsum Title</h3>
      <p>Content here <strong>with some keywords</strong></p>
      <div class="info-image-block__sm">
        <img src="/assets/icons/instagram.png" alt="Instagram Icon">
        <span>Follow us on Instagram 🤳</span>
      </div>
      <a class="tel" href="tel:+7876744433">
        <strong>For immediate assistance, call us now!</strong>
        <div class="info-image-block__number">
          (787) 674-4433
        </div>
      </a>
    </div>
  </section>

  <section class="swiper-box">
    <div class="swiper-box-text">
      <h2>Your Title Here</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin euismod, nisl eget consectetur gravida, nisi sem euismod nisi, vitae gravida nisi nisl eget nisl.
      </p>
    </div>
    <swiper-container autoplay="true" effect="cube" pagination="true">
      <swiper-slide><span style="visibility: hidden;">testing</span></swiper-slide>
      <swiper-slide></swiper-slide>
      <swiper-slide></swiper-slide>
      <swiper-slide></swiper-slide>
    </swiper-container>
  </section>

  <section class="two-blocks-section">
    <div class="block-title">
      <h3>Quick, Affordable, Clean Renovations 😎</h3>
      <p>At PVD Solutions, we take pride in delivering renovations that are affordable, clean, and completed swiftly. Our team understands that renovating your space can be a significant investment, which is why we focus on providing high-quality results without breaking the bank. We prioritize maintaining a clean and organized work environment, ensuring minimal disruption to your daily life. With our commitment to efficiency, we complete renovations in a timely manner while still adhering to the highest standards of craftsmanship. Whether you're updating a single room or undertaking a larger project, PVD Solutions offers renovation services that combine affordability, cleanliness, and speed to enhance your space with exceptional results.</p>
    </div>
    <div class="two-blocks-container">
      <div class="block block-one">
        <swiper-container autoplay="true" effect="coverflow" pagination="true" navigation="true">
          <swiper-slide></swiper-slide>
          <swiper-slide></swiper-slide>
          <swiper-slide></swiper-slide>
          <swiper-slide></swiper-slide>
          <swiper-slide></swiper-slide>
        </swiper-container>
        <h4>Lorum Two</h4>
        <p>PVD Solutions recently had the pleasure of transforming a local salon into a modern, stylish, and functional space. Our expert team worked closely with the salon owner to create an inviting atmosphere that truly reflects their brand and ensures client comfort. The remodel included optimizing the layout, enhancing lighting, and incorporating high-quality, durable materials throughout the salon. From updating the reception area and styling stations to revitalizing the treatment rooms, every detail was meticulously planned and executed. Based in Providence, Rhode Island, and serving the surrounding areas, we completed this salon remodel with minimal disruption to the business, resulting in a stunning space that elevates the overall client experience.</p>
      </div>
      <div class="block block-two">
        <swiper-container autoplay="true" effect="coverflow" pagination="true" navigation="true">
          <swiper-slide></swiper-slide>
          <swiper-slide></swiper-slide>
          <swiper-slide></swiper-slide>
          <swiper-slide></swiper-slide>
          <swiper-slide></swiper-slide>
        </swiper-container>
        <h4>Lorum One</h4>
        <p>PVD Solutions was entrusted with a comprehensive remodel of a client's home kitchen and bathroom, transforming these essential spaces into areas of beauty and functionality. For the kitchen, our focus was on creating a culinary haven with custom cabinetry, modern appliances, and an efficient layout perfect for cooking and entertaining. The bathroom remodel aimed to design a serene retreat featuring luxurious fixtures, ample storage, and elegant finishes. Our team guided the client through every step of the remodeling process, ensuring their vision was brought to life. Located in Providence, Rhode Island, and serving the surrounding areas, we delivered high-quality workmanship and exceptional customer service, resulting in a home that reflects both comfort and style.</p>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="feature-box">
      <img src="assets/pb-bowl-pic.jpeg" alt="Feature 1">
      <h1>Feature 1</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="feature-box">
      <img src="assets/pb-bowl-pic.jpeg" alt="Feature 2">
      <h1>Feature 2</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="feature-box">
      <img src="assets/pb-bowl-pic.jpeg" alt="Feature 3">
      <h1>Feature 3</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="feature-box">
      <img src="assets/stock-7.jpeg" alt="Feature 3">
      <h1>Feature 4</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </section>

  <section class="info-block-section">
    <div class="info-block">
      <h3>Airbnb Cleaning</h3>
      <p>Our Airbnb cleaning service ensures that your rental property is spotless and ready for the next guest. We focus on thorough cleaning, including dusting, vacuuming, mopping, changing linens, and sanitizing bathrooms and kitchens. We also restock essential supplies and ensure everything is in perfect order to provide a welcoming experience for your guests.</p>
      <h3>VCT Floor Strip and Wax</h3>
      <p>Our VCT (Vinyl Composition Tile) floor strip and wax service involves removing old wax and buildup from your floors, followed by applying a new coat of high-quality wax. This process restores the shine and protective layer of your VCT flooring, making it look like new and enhancing its durability.</p>
      <h3>Office Cleaning</h3>
      <p>Our office cleaning service provides a clean and healthy work environment for your employees and visitors. We offer comprehensive cleaning solutions, including dusting, vacuuming, sanitizing restrooms, emptying trash bins, and cleaning common areas. Our service can be customized to meet your specific needs and schedule, ensuring minimal disruption to your business operations.</p>
      <button routerLink="/order">Place Work Order</button>
    </div>
    <div class="info-block"></div>
  </section>

  <section class="testimonials-section">
    <div class="section-header">
      <h1>Testimonials</h1>
      <p>See what our customers have to say about us.</p>
    </div>
    <div class="testimonials">
      <div class="testimonial-box">
        <div class="stars">
          &#9733;&#9733;&#9733;&#9733;&#9733;
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <h3>John Doe</h3>
      </div>
      <div class="testimonial-box">
        <div class="stars">
          &#9733;&#9733;&#9733;&#9733;&#9733;
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <h3>Jane Smith</h3>
      </div>
      <div class="testimonial-box">
        <div class="stars">
          &#9733;&#9733;&#9733;&#9733;&#9733;
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <h3>Bob Johnson</h3>
      </div>
    </div>
    <div class="testimonials-link" style="margin-top: 30px;">
      <a href="#">
        See more reviews!
      </a>
    </div>
  </section>

  <section class="content-section">
    <div class="content-box">
      <h1>Section Title 1</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </div>
    <div class="content-box">
      <h1>Section Title 2</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </div>
  </section>

  <section class="quick-section">
    <div class="quick-text-content">
      <h1>Section Title</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </div>
    <div class="button-container">
      <a href="#" class="call-button">(512) 643-2210</a>
    </div>
  </section>

  <section class="floating-image-section">
    <div class="float-text-content">
      <img src="assets/pb-bowl-pic.jpeg" alt="Placeholder Image" class="floating-image">
      <h2>Lorem Ipsum Dolor Sit Amet</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Integer vel urna et justo convallis vehicula. Sed nec lectus sit amet arcu pellentesque ultrices. Nulla facilisi. Morbi dictum libero nec magna sagittis, at dapibus sem facilisis. Proin cursus justo id risus posuere, eget egestas eros interdum.
      </p>
      <p>
        Ut ultrices velit quis erat vehicula, a dapibus purus sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur in augue urna. Praesent vel urna justo. Duis ac neque nec libero convallis venenatis. Sed ac tortor vel velit cursus varius nec et sapien.
      </p>
      <p>
        Ut ultrices velit quis erat vehicula, a dapibus purus sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur in augue urna. Praesent vel urna justo. Duis ac neque nec libero convallis venenatis. Sed ac tortor vel velit cursus varius nec et sapien. Ut ultrices velit quis erat vehicula, a dapibus purus sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur in augue urna. Praesent vel urna justo. Duis ac neque nec libero convallis venenatis. Sed ac tortor vel velit cursus varius nec et sapien.
      </p>
    </div>
  </section>

</div>