@use '@angular/material' as mat;
@include mat.core();

//Change to main color
$myapp-theme-primary: mat.m2-define-palette(mat.$m2-blue-palette, A400, A100, A700);
$myapp-theme-accent: mat.m2-define-palette(mat.$m2-indigo-palette);
$myapp-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$myapp-theme: mat.m2-define-light-theme((
  color: (
    primary: $myapp-theme-primary,
    accent: $myapp-theme-accent,
    warn: $myapp-theme-warn,
  )
));

@include mat.all-component-themes($myapp-theme);

//Change to main color
:root {
  --swiper-navigation-color: blue;
  --swiper-pagination-color: blue;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f9fa;
  color: #333;
}

html, body {
  height: 100%; 

  p {
    line-height: 1.6;
  }
}
